* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "monospace";
    font-size: 14px;
}

@bg: #101214;
@fg: @white;
@yellow: #cc2;
@blue: #4ae;
@white: #ccc;
@gap: 20px;

body {
    display: grid;
    height: 100vh;
    padding: @gap;
    grid-gap: @gap;

    background-color: @bg;

    grid-template-rows: 1fr 20px;
    grid-template-columns: 1fr minmax(0, 800px) 1fr;
    grid-template-areas:
        "channels messages ."
        "channels prompt ."
    ;

    #channels { grid-area: channels; }
    #messages { grid-area: messages; }
    #prompt   { grid-area: prompt; }

    overflow: clip;
}

#messages {
    max-height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    ::-webkit-scrollbar { display: none; }

    .message {
        word-break: break-word;

        .username  { color: @yellow; }
        .separator { color: @blue; }
        .content   { color: @white; }
    }
}

a, a:visited {
    color: @blue;
}

.img-box {
    width: 100%;
    max-width: 400px;

    margin: 5px 0;

    img {
        width: 100%;
    }
}

#channels {
    .channel {
        cursor: pointer;
        color: @yellow;
        width: 100%;
    }
}

#prompt input {
    width: 100%;
}

input {
    background-color: @bg;
    color: @white;
    padding: 4px;
}

*:focus {
    outline: none;
}

.mobile-btn {
    display: none;
    position: absolute;
    top: @gap;
    right: @gap;
    color: @blue;
    background-color: @bg;
    cursor: pointer;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: initial;

        #messages {
            grid-area: 1/1/2/3;
        }

        #channels {
            display: none;
            grid-area: 1/1/3/3;
        }

        #prompt {
            grid-area: 2/1/3/3;
        }
    }

    #btn-channels {
        display: initial;
    }
}
